<p class="lead">Últimos cambios realizados el: 09 de Febrero del 2015</p>
<p>
    Estos términos y condiciones (las “Condiciones”) rigen tu acceso y uso de los sitios web y aplicaciones móviles de El Cubo 9 (el “Sitio”) que se relacionan o hacen referencia a estas Condiciones. Al acceder o utilizar el Sitio, estás aceptando estas Condiciones y consumando un contrato legalmente vinculante con El Cubo 9, una Startup Colombiana propiedad de Oswaldo Alvarez CC 1.127.589.324. No accedas ni utilices el Sitio si no estás dispuesto a cumplir estas Condiciones o no puedes comprometerte a cumplirla.
</p>
<h4>1. DEFINICIONES</h4>
<h5>
    A. Partes
</h5>
<p>
    "Tú" y "tu/tus" se refieren a ti, como usuario del Sitio. Un "usuario" es alguien que accede, navega, explora o utiliza de cualquier forma el Sitio. "Nosotros", "nos" y "nuestro" (en todas sus formas) se refieren a El Cubo 9. "Restaurante" se refiere a restaurantes, bar, discoteca, café o cualquier otro local que use El Cubo 9 para recibir órdenes.
</p>
<h5>
    B. Contenido
</h5>
<p>
    "Contenido" se refiere a texto, datos de ubicación y otras formas de datos o comunicaciones. "Tu contenido" se refiere al contenido que envíes o transmitas a, mediante, o en conexión con el Sitio, como órdenes, tu información de registro e información que tengas dentro de la plataforma.
</p>
<h4>2. CAMBIOS EN LAS CONDICIONES DE SERVICIO</h4>
<p>
    Podemos modificar las Condiciones cuando lo consideremos oportuno. Entiendes y aceptas que el acceso al Sitio y su uso se rigen por las Condiciones que estén en vigor en el momento en que accedes al Sitio o lo utilizas. Si realizamos cambios materiales a estas Condiciones, lo notificaremos por correo electrónico o publicando un aviso en el Sitio antes de la fecha de entrada en vigor de los cambios. También indicaremos en la parte superior de la página la fecha en que se produjeron las últimas revisiones. Deberías visitar estas Condiciones de forma regular ya que las versiones revisadas serán vinculantes para ti. Cualquier modificación entrará en vigor tras la publicación de las nuevas Condiciones. Entiendes y aceptas que el acceso al Sitio o su uso de forma continuada tras la fecha de entrada en vigor de las modificaciones de las Condiciones indican que aceptas dichas modificaciones. Si no estás de acuerdo puedes solicitar la cancelación de tu cuenta y eliminación de toda la información.
</p>
<h4>3. USO DEL SITIO</h4>
<h5>A. Cuentas de Usuario</h5>
<p>
    Para poder hacer uso de la aplicación nosotros te proveeremos una clave temporal la cual RECOMENDAMOS cambiarla con frecuencia. Tu clave será encriptada y almacenada de esa manera en nuestra base de datos. Eres responsable de mantener la confidencialidad de la contraseña de tu cuenta. También eres responsable de todas las actividades que tengan lugar en relación con tu cuenta. Aceptas notificarnos inmediatamente cualquier uso no autorizado que percibas de tu cuenta. Nos reservamos el derecho a cerrar tu cuenta en cualquier momento con o sin razón.
</p>
<h5>B. Disponibilidad del Sitio</h5>
<p>
    El Sitio puede ser modificado, actualizado, interrumpido, suspendido o eliminado en cualquier momento sin previo aviso y sin asumir ninguna responsabilidad.
</p>
<h5>C. Comunicaciones desde El Cubo 9</h5>
<p>
    Recibirás algún email en el caso de algún boletín con información importante. Siempre puedes elegir dejar de recibir comunicaciones notificándonos de cualquier manera.
</p>
<h4> 4. ÓRDENES</h4>
<p>
    Nosotros no nos hacemos responsables por algún error en los precios, órdenes inválidas que hagan personas que no estén en el restaurant. Para eso recomendamos que siempre se acerquen a la mesa y validen que la orden está correcta.
</p>
<h4> 5. CONTENIDO</h4>
<h5> A. Nuestro uso de tu contenido e información</h5>
<p>
    Tu correo y demás datos son privados solo para la autenticación en la aplicación.
</p>
<h5> B. Datos de los Usuarios</h5>
<p>
    Los datos de los usuarios están protegidos por lo tanto solo cierta información de ellos podrá ser mostrada como el nombre de la persona que realiza la orden. El resto de información es privada.
</p>
<h4>  6. INDEMNIZACIÓN</h4>
<p>
    Usted deberá defender, indemnizar y eximir de responsabilidad a El Cubo 9, sus afiliados y cada uno de sus empleados y empleados de sus afiliados, directores, proveedores y representantes, de todas las pérdidas, costos, acciones, demandas, daños, gastos (incluyendo costos legales razonables) o pasivos, que surjan o estén relacionados con su uso, mal uso o acceso al Sitio, Servicio, Contenido o bien a sus Publicaciones de usuario, incumplimiento de estas condiciones de uso, o infracción de su parte o de terceros que utilicen su cuenta, de la propiedad intelectual u otro derecho de cualquier persona o entidad (salvo en la medida en que un tribunal de jurisdicción competente considere que dicha demanda surgió debido a un acto u omisión de El Cubo 9). El Cubo 9 se reserva el derecho de asumir la defensa y control exclusivos de cualquier asunto sujeto a indemnización por usted, en cuyo caso usted deberá ayudar y cooperar con El Cubo 9 para hacer valer cualquier defensa disponible. No somos responsables por órdenes equivocadas, emitidas por usuarios falsos ni ninguna acción que se genere dentro de las aplicaciones de El Cubo 9 para ello siempre recomendamos a los restaurantes confirmar la veracidad de las órdenes con sus comensales
</p>
<h4>  7. CONTACTO</h4>
<p>
    Usted puede contactar a El Cubo 9 vía info@elcubo9.com por el teléfono +57 1 4713616
</p>
<h4>  8. USO DE COOKIES</h4>
<p>
    De igual forma que muchos sitios web, El Cubo 9 podrá utilizar cookies para almacenar y grabar información de sus usuarios y visitantes con el fin de poder conocer cuánto tiempo permanecen en el sitio, cuáles son sus preferencias (de usuario, navegador, sistema operativo, etc), poder realizar estadísticas del sitio y otros con el fin de poder proporcionar al visitante una mejor y personalizada experiencia al visitarlo.
</p>
<h4>
    9. IDENTIFICADORES DEL NÚMERO DE LA MESA (CUBOS)
</h4>
<p>
    Cuando se activa a plataforma de El Cubo 9 en un Restaurant se hacen entrega de manera gratuita un conjunto de identificadores de mesa. Si estos no reciben buen trato o se desgastan por uso y se desea reponer cada cubo tendrá un costo de 3 USD dólares americanos. El restaurant si así lo desea puede mandar a hacer sus propios identificadores siempre y cuando posea todo el contenido que está en los identificadores originales
</p>