<section id="home">
    <div class="btn-group btn-group-lg btn-group-justified">
        <div class="btn-group">
            <a href="#/login" class="btn btn-primary btn-lg">Iniciar Sesión</a>
        </div>
        <div class="btn-group">
            <a href="#/signup" class="btn btn-primary btn-lg">Regístrate</a>
        </div>
    </div>
    <p>
        <img src="/Content/images/logo-rectangular.png" class="img-responsive center-block" />
    </p>
    <p class="text-center">
        El mesero en tu celular
    </p>
</section>

