<div class="container-fluid">
    <div ng-repeat="item in order.Items">
        <div class="row">
            <div class="col-xs-8">
                <div class="title">
                    <button class="btn btn-danger" ng-click="remove(item)">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </button>
                    {{item.Quantity}} -
                    {{item.Title}}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="price">
                    {{Symbol}} {{item.Price}}
                </div>
            </div>
        </div>
        <div class="subtitle">{{item.Subtitle}}</div>
    </div>
    <hr />
    <h1 class="text-center">¿En qué mesa estas?</h1>
    <form ng-submit="send()" class="margin">
        <p>
            <input type="text" class="form-control input-lg" ng-model="order.TableNumber" required />
        </p>
        <p>
            <button class="btn btn-block btn-primary btn-lg" type="submit">Enviar Orden</button>
        </p>
        <p class="text-center">
            <a href="" ng-href="#/menu/{{order.CustomerID}}">Continuar Ordenando</a>
        </p>
    </form>
</div>
