<h1 class="text-center">Cambiar Clave</h1>
<form role="form" ng-submit="change()" class="margin">
    <div class="form-group">
        <label>Clave Actual</label>
        <input class="form-control input-lg" type="password" ng-model="p.OldPassword" required />
    </div>
    <div class="form-group">
        <label>Nueva Clave</label>
        <input class="form-control input-lg" type="password" ng-model="p.NewPassword" required />
    </div>
    <div class="form-group">
        <label>Confirmar Nueva Clave</label>
        <input class="form-control input-lg" type="password" ng-model="p.ConfirmPassword" required />
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block btn-lg" type="submit">Cambiar Clave</button>
    </div>
</form>
